<a href="https://colab.research.google.com/github/bbodhak/MLD6/blob/master/MLD6_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()
'''
#reduce function
lst1 = [10,20,30,10,30, 50]

from functools import reduce
num = reduce(lambda x,y:x+y,lst1)
print(num)

#myreduce function
lst2 = [10,20,30,10,30]

def myreduce(lst) :
  redu = 0
  for i in lst :
    redu = redu + i
  return redu

myreduce(lst2)

150

100

In [ ]:
'''
1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()
'''
#Get me the even number
#with filter function
num = [1,2,3,4,5,6,7,8,9,10]

filt1 = list(filter(lambda x:x%2==0, num))
print(filt1)

#myfilter with list comprehension
filt2 = [x for x in num if x%2==0]
print(filt2)

#myfilter with function

def myfilter(n) :
  for i in n :
    if i%2==0 :
      print(i, end=' ')
myfilter(num)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
2 4 6 8 10

In [33]:
'''2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

'''

a = "ACADGILD"
lta = [word for word in a]
print("ACADGILD has been changed to {}".format(lta))

b = "xyz"
ltb = [word*num for word in b for num in range(1,5)]
print("xyz has been changed to {}".format(ltb))

c = "xyz"
ltc = [word*num for num in range(1,5) for word in c]
print("xyz has been changed to {}".format(ltc))

d = [2,3,4]
ltd = [[i+num] for i in d for num in range(0,3)]
print("[2,3,4] has been changed to {}".format(ltd))

e = [2,3,4,5]
lte = [[i+numb for i in e] for numb in range(0,4)]
print ("[2,3,4,5] has been changed to {}".format(lte))

f = (1,2,3)
ltf = [(b,a) for a in f for b in f]
print ("[1,2,3] has been changed to {}".format(ltf))

ACADGILD has been changed to ['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']
xyz has been changed to ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
xyz has been changed to ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[2,3,4] has been changed to [[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[2,3,4,5] has been changed to [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[1,2,3] has been changed to [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]